
<!-- <div id="capture" style="padding: 10px; background: #f5da55">
  <h4 style="color: #000; ">Hello world!</h4>
</div>
<button (click)="TestHtml2canva()">click here</button> -->

<br>

<h3>prueba qr</h3>
<div class="content" role="main">
  <!-- prueba insercion QR -->
  <div class="QRclass w-50" matTooltip="Info about the action">
    <a>
      <qrcode #QrImg
        [qrdata]="myAngularxQRcode" 
        [width]="256" 
        [errorCorrectionLevel]="'M'">
      </qrcode>
      <!-- superposicion texto -->
      <div class="insideFrint" (click)="prueba()">
        <span id="text">Copiar</span>
      </div>
    </a>
  </div>
</div>

